@use 'variables';

.teambit_logo {
    width: 100px;
}

body {
    font-family: variables.$font-family;
    a {
        text-decoration: none;
        line-height: 30px;
        font-size: small;
    }
}

.my_button {
    background-color: variables.$button-color;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    font-size: x-small;
    font-weight: bolder;
}

li {
    list-style: none;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

* {

    p {
        font-size: small;
    }
}



