
// caratteristiche testo
$text-size: 14px;
$font-family: 'Montserrat', sans-serif;
$main-color: rgb(14, 14, 14);
$link-color: rgb(14, 14, 14);

$button-color: #2f4593;

$background-color: white;
$background-color-alt: #fbe8d4;

body {
    font-family: $font-family;
    a {
        text-decoration: none;
    }
}

.my_button {
    background-color: $button-color;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    font-size: x-small;
    font-weight: bolder;

}

li {
    list-style: none;
}


