// caratteristiche testo
$text-size: 14px;
$font-family: 'Montserrat', sans-serif;
$main-color: rgb(14, 14, 14);
$link-color: rgb(14, 14, 14);

$background-color-alt: #fbe8d4;

body {
    font-family: $font-family;
    
    
    
}