.navbar {
    height: 60px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

    li {
        list-style: none;
        display: inline;
        padding-left: 10px;
    }
    
    a {
        text-decoration: none;
        color: $link-color;
   }

   .nav-menu {
       display: flex;
       justify-content: flex-end;
   }
}

.jumbotron {
    height: 400px;

    .text_jumbotron {
        height: 400px;
        background-color: brown;
    }

    .back_jumbotron {
        height: 400px;
        // background-image: url(../img/illustration-main.jpg);
        // background-color: blue;
    }
}