@use 'variables';

main {
    background-color: variables.$background-color-alt;
    .section2 {
        background-color: variables.$background-color;
    }

    .section3 {
        background-color: variables.$background-color-alt;
    }

    .rounded_box {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        border: 1px solid blue;
        background-color: white;
        font-size:x-small;
        padding: 10px;

        img {
            width: 30px;
        }
    }
}