@use 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1170px;
    margin: auto;
  }
  
  /* per la clearfix */
  .container::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class*="col-"] {
    float: left;
  }
  


// creo le colonne "large" in stile bootstrap
@media screen and (min-width: 992px) {

    @for $i from 1 through 13 {
        .col-lg-#{$i} {
            width: (100% / 12) * $i;
        }
    }
    // offset
    @for $i from 1 through 13 {
        .col-lg-offset-#{$i} {
            margin-left: (100% / 12) * $i;
        }
    }

    .display-none-lg {
        display: none;
    }



}

// creo le colonne "medium" in stile bootstrap
@media screen and (min-width: 768px) and (max-width: 991px) {

    @for $i from 1 through 13 {
        .col-md-#{$i} {
            width: (100% / 12) * $i;
        }
    }
    // offset
    @for $i from 1 through 13 {
        .col-md-offset-#{$i} {
            margin-left: (100% / 12) * $i;
        }
    }

    .display-none-md {
        display: none;
    }

    
}

// creo le colonne "xs" in stile bootstrap
@media screen and (min-width: 0px) and (max-width: 767px) {

    @for $i from 1 through 13 {
        .col-xs-#{$i} {
            width: (100% / 12) * $i;
        }
    }
    // offset
    @for $i from 1 through 13 {
        .col-xs-offset-#{$i} {
            margin-left: (100% / 12) * $i;
        }
    }

    .display-none-xs {
        display: none;
    }


}

// margine superiore
.margin_top {
    margin-top: 30px;
}
.margin_bottom {
    margin-bottom: 30px;
}

// flex allineamento centrale orizzontale
.flex-justify-center {
    display: flex;
    justify-content: center;
}

// flex allineamento centrale verticale
.flex-align-center {
    display: flex;
    align-items: center;
}

