@use 'variables';

.navbar {
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

    li {
        display: inline;
        padding-left: 10px;
    }
    
    a {
        text-decoration: none;
        color: variables.$link-color;
   }

   .nav-menu {
       display: flex;
       justify-content: flex-end;

       .my_button {
           color: white;
       }
   }
}
